@charset "UTF-8";

html {
    font-size: calc(100vw / 192);
}

/************************************************
    body    */
body{
    /*min-width: 1080px;*/
    width: 100vw;
    padding-top: 70px;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
h2{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
h3{
    font-size: 24px;
    color: white;
}
.techgreen{
    color:#28abae;
}
.backgreen{
    color:#e5f6f7;
}

/************************************************
    header   */
header {
    width: 100vw; /* 幅いっぱいを指定 */
    height: 70px; /* 高さを50pxに指定 */
    background:white;  /* 背景色にグレーを指定 */
    /*padding: 20px 50px;  ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    display: flex; /* 中の要素を横並びにする */
    /*align-items: center;  中の要素を上下中央に並べる */
    justify-content: space-between;
    z-index: 100;
}
.header__logo{
    padding-top: 20px;
    padding-left: 30px;

}
.header__contact{
    background-color: black;
    color: white;
    width:290px;
    padding-top: 27px;
    text-align: center;
    font-size: 15px;
}
main{
    width:100vw;
}

/************************************************
    atf */
h3{
    padding-top: 15.5rem;
    padding-bottom: 3.3rem;
    font-size: 4.6rem;
}
h2{
    font-size: 7.5rem;
}
#atf{
    width:100vw;
    display: flex;
}
.atf__img img{
    width:100%;
    height:calc(100vw * .34);
}
.atf__content{
    width:35%;
    height:calc(100vw * .34);
    background-color: #28abae;
    text-align: center;
    color: white;
}
.opentime{
    padding-top: 4.0rem;
    padding-bottom: 2.0rem;
    font-size: 3.5rem;
    font-weight: bold;
}
.memo{
    font-size: 2.0rem;
    letter-spacing: 0.3rem;
}
/************************************************
    about    */
#about{
    width:100vw;
    text-align: center;
}
.about__area{
    width: 800px;
    display: flex;
    margin: 20px calc(50vw - 400px);
    text-align: left;
    color: black;

}
.about__title h3{
    width:490px;
    padding-top: 0px;
    color: black;
    font-size: 34px;
    font-weight: bold;
}
.about__content{
    width:450px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.8;
}
.about__content p{
    margin-top: 48px;
}
.about__img{
    width:310px;
}
/************************************************
    Facility    */
#facility{
    width: 500px;
    margin:  20px calc(50vw - 250px);
    text-align: center;
}
.facility__title{
    margin-top: 80px;
    font-weight: bold;
    font-size: 18px;
}
.facility__h2{
    margin: 24px 0 56px;
    color: black;
    font-size: 24px;
    letter-spacing: 2px;
}
.facility__icon-area{
    display: flex;
    justify-content:space-between;
}
.facility__icon{
    width: 32px;
}
/************************************************
    space   */
#space{
    width : 100vw;
    height: 500px;
    background-color: #e5f6f7;
}
.space__img{
    width: 600px;
    margin: 40px calc(50vw - 300px);
}
/************************************************
    feature*/
#feature{
    width:100vw;
    text-align: center;
}
.feature__title{
    margin-top: 80px;
    font-weight: bold;
    font-size: 18px;
}
.feature__p{
    margin: 24px 0 56px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
.feature__img-area{
    height: 310px;
    width: 800px;
    margin: 20px calc(50vw - 400px);
    display: flex;
}
.feature__img{
    width: 266px;
}
.feature__img img{
    width: 240px;
    margin: 0 auto;
}
.feature__img .feature__img-title{
    margin: 12px 0 12px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.feature__img p{
    text-align: left;
    font-size: 15px;
}
.feature__end{
    width: 100%;
    font-size: 10px;
}
.feature__btn{
    margin: 40px auto 80px;
    padding: 12px 40px;
    background-color: #444;
    color: white;
    text-align: center;
}
/************************************************
    flow    */
#flow{
    width:100vw;
    height:400px;
    text-align: center;
}
.flow__title{
    font-weight: bold;
    font-size: 18px;
}
.flow__text{
    margin: 24px auto 56px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}
.flow__area{
    width:800px;
    height: 200px;
    margin: 20px calc(50vw - 400px);
    display:flex;
}
.flow__box{
    width:360px;
    height:240px;
    margin: 0 20px;
}
.flow__box-title{
    margin: 24px auto 24px;
    font-size: 16px;
    font-weight:bold;
    text-align: center;
}
.flow__box-memo{
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}
/************************************************
    price   */
#price{
    width:100vw;
    text-align: center;
    background-color:#e5f6f7;
}
.price__title{
    font-weight: bold;
    padding-top: 64px;
    font-size: 18px;
}
.price__text{
    margin: 24px auto 56px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}
.price__course{
    width:800px;
    margin: 0px calc(50vw - 400px);
    display: block;
}
.price__block{
    width: 800px;
    display: flex;
}
.price__ul{
    width:400px;
    height:60px;
    padding-top: 16px;
    background-color: #444;
    color: white;
    font-size: 14px;
    border: grey solid 1px;
}
.price__li{
    width: 400px;
    border: grey solid 1px;
    text-align: left;
    padding-top: 8px;
    padding-left: 16px;
    font-size: 14px;
}
.price__memo{
    width:800px;
    margin: 12px 0 64px;
    text-align: left;
    font-size: 8px;
    line-height: 1.5;
}
/************************************************
    map */
#map{
    width: 100vw;
    text-align: center;
}
.map__title{
    font-weight: bold;
    padding-top: 64px;
    font-size: 18px;
}
.map__text{
    margin: 24px auto 56px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}
.map__address{
    font-size: 16px;
    margin-bottom: 56px;
}
.map__address-br{
    display: none;
}
.map__img{
    width: 800px;
    margin-bottom: 56px;
}
/************************************************
    sns-link    */
.sns__link{
    position: fixed;
    bottom: 12px;
    right: 12px;
}
.sns__link-img{
    width: 48px;
}
/************************************************
    footer  */
footer{
    width:100vw;
    height:380px;
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}
footer p{
    text-align: center;
    padding-top: 24px;
    font-size: 16px;
    text-align: center;
    color: white;
}
/************************************************
    レスポンシブ対応 */

@media screen and (max-width: 767px) {
/************************************************
    レスヘポンシブ header    */
    header{
        /* display: block; */
        /* justify-content: unset;*/

    }
    .header__logo{
        padding-top: 12px 0 0 12px;
    }
    .header__logo img{
        width:100%;
    }
    .header__contact{
        display:none;
    }
    .sns__link-img{

    }
    .sns__link-img img{

    }
    
/************************************************
    atf    */
    .atf__img img{
        width:50vw;
        height:180px;
    }
    .atf__content{
        width:50vw;
        height:180px;
    }
/************************************************
    about   */
    #about{
        width: :100vw;
    }
    .about.area{
        font-size: 16px;
    }
    .about__title h3{
        width:490px;
        padding-top: 0px;
        color: black;
        font-size: 16px;
        font-weight: bold;
    }
    .about__img{
        display: none;
    }
/************************************************
    atf */
    .atf__img{
        position: relative;
        overflow: hidden;
        width: 50vw;
    }
    .atf__img img{
        width:unset;
    }
    .atf__content h3{
        font-size: 11px;
        letter-spacing: 2px;
    }
    .atf__content h2{
        margin-top: 16px;
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 2px;
    }
    .atf__content p{
        margin-bottom: 8px;
        font-size: 8px;
    }
/************************************************
    about   */
    .about__area{
        width: 100vw;
        display: block;
        margin: 64px 0 0;
    }
    .about__title h3{
        margin-left : 14px;
        width: 100%;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 1.3;
    }
    .about__content{
        padding: 0 14px 0;
        width: 100%;
        font-size: 13px;
    }
    .about__img{
        display: none;
    }
/************************************************
        facility    */
    #facility{
        width: 100vw;
        margin: unset;
    }
    .facility__h2{
        font-size: 20px;
    }
    .facility__icon-area{
        justify-content:space-evenly;
        margin-bottom: 32px;
    }
    .facility__icon img{
        height:48px;
    }
/************************************************
    space   */
    #space{
        height:auto;
    }
    .space__img{
        width:100vw;
        margin: 32px auto;
    }

/************************************************
    feature */
    .feature__p{
        font-size: 20px;
    }
    .feature__img-area{
        width: 100vw;
        height: auto;
        margin: unset;
        display: block;
    }
    .feature__img{
        width: 90%;
        margin: 0 5% 24px;
    }
    .feature__img img{
        width: 100%;
    }
    .feature__img .feature__img-title{
        font-size: 18px;
        letter-spacing: 2px;
    }
    .feature__img p{
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 1.5;
    }
    .feature__end{
        margin-top: 48px;
        font-size: 12px;
    }
    .feature__btn{
        font-size: 12px;
        margin-bottom: 56px;
    }
/************************************************
    flow    */
    #flow{
        height: auto;
    }
    .flow__area{
        width: 100vw;
        display: block;
    }
    .flow__text{
        font-size: 20px;
        letter-spacing: 2px;
    }
    .flow__area{
        width:100%;
        height: auto;
        margin: 0 0 48px;
        display:block;
    }
    .flow__box{
        width:90%;
        height: auto;
        margin: 24px 5% 24px;
    }
    .flow__box-title{
        font-size: 18px;
    }
    .flow__box-memo{
        font-size: 12px;
        line-height: 2;
    }
/************************************************
    price   */
    #price{
        width: 100vw;
    }
    .price__text{
        font-size: 20px;
    }
    .price__block{
        display: block;
    }
    .price__course{
        width: 90%;
        margin: 0 5%;
    }
    .price__block{
        width: 100%;
    }
    .price__ul{
        width: 100%;
        height: 40px;
        padding-top: 12px;
        font-size: 12px;
    }
    .price__li{
        width: 100%;
        font-size: 12px;
        text-align: center;
        padding: 16px;
    }
    .price__memo{
        width: 100%;
        letter-spacing: 1px;
    }
    .price__block-br{
        display: none;
    }
/************************************************
    map */
    .map__img{
        width: 100vw;
    }
    .map__text{
        font-size: 20px;
        margin-bottom: 32px;
    }
    .map__address{
        line-height: 1.5;
    }
        .map__address-br{
        display: unset;
    }
}






    /************************************************
    */

    /************************************************
    */





